<mat-sidenav-container class="" >
    <mat-sidenav class="" mode="side" opened fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list class="">
            <a mat-list-item routerLink="/">
                <i class="material-icons">
                    home
                </i>
                <span class="black">INICIO</span>
            </a>
            <a mat-list-item routerLink="/products">
                <i class="material-icons">
                    storefront
                </i>
                CEP
            </a>
        </mat-nav-list>
    </mat-sidenav>
<mat-sidenav-content>
    <router-outlet></router-outlet>
</mat-sidenav-content>
   </mat-sidenav-container>
