.sidenav {
    background-color: #289712;
    width: 200px;
}

.sidenav a {
    color: #070707 ;
}

.sidenav i {
    padding-right: 5px;
    color: #070707 ;
}

.content {
    color:#070707;
    padding: 20px;
    background-color: #fff;
}

.black{
    color:#070707;
    padding: 0px;
}

